.masthead {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
}

@media (max-width: 768px) {
    .masthead {
        min-height: 120vh;
    }
}
